/* MONITOR LR 80 */
/* MONITOR TOP 64  */

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --socials-hover: hsl(322, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --head-font: "Poppins", sans-serif;
  --head-size: 2.5rem;
  --body-font: "Open Sans", sans-serif;
  --body-size: 1.125rem;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--violet);
  background-image: url(images/bg-desktop.svg);
  background-size: auto auto;

  /* GOING TO USE THIS FOR ANYTHING ABOVE 1440 X 800 */
  /* background-size: 100% auto; */
  background-repeat: no-repeat;
}

main {
  padding: 54px 73px 0 73px;
}

header {
  margin-bottom: 80px;
}

header .logo {
  width: 216px;
}

.hero {
}

/* wanna center everything and either resize or set max width */
.hero-content {
  display: flex;
  gap: 53px;
  margin-bottom: 27px;
}

.hero-content .hero-image {
  width: 711px;
}

.hero-info h1 {
  font-family: var(--head-font);
  font-size: var(--head-size);
  color: var(--white);
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 24px;
}

.hero-info p {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--white);
  line-height: 27px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 24px;
}

.hero-info .hero-button {
  background: var(--white);

  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
  border-radius: 28px;
  padding: 12px 62px;
  border: none;
}

.hero-button a {
  font-family: var(--head-font);
  font-size: var(--body-size);
  color: var(--violet);
  line-height: 27px;
  text-decoration: none;
  color: var(--white);
}

.social-links {
  font-size: 1.1875rem;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.social-links i {
  color: var(--white);
  border: 1px solid var(--white);
  text-align: center;

  padding: 10px;
  width: 40px;
  border-radius: 50%;

  transition: all 0.35s;
}

.social-links i:hover {
  border: 1px solid var(--socials-hover);
  color: var(--socials-hover);
}

.attribution {
  font-family: var(--body-font);
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--white);
}

/* NEED TO ADD A HOVER */
.attribution a {
  color: var(--white);
}
